@import "tailwindcss";

/* Print styles */
@media print {
  .no-print {
    display: none !important;
  }

  body {
    background: white !important;
  }

  aside, header {
    display: none !important;
  }

  main {
    padding: 0 !important;
    margin: 0 !important;
  }
}
